<%- include('./meta.ejs') %>
<style>
.bg-indigo-600 {
    --tw-bg-opacity: 1;
    background: linear-gradient(-45deg, #ee7752, rgba(79,70,229, 1), #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
</style>

</div>

  <nav class="navbar navbar-expand-lg navbar-dark p-2 pl-4 pr-4 bg-vcodes z">
      <div class="container">
        <a title="DisBotlist" class="navbar-brand logoholder"><img id="logoimg" style="height:55px; width:55px;" src="../../img/logo.png" alt="DisBotlist"/></a>
        <div class="sidebar-brand-text mx-3" style="text-shadow: 2px 2px 5px black;">DBotList <sup> ml</sup></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="border: none">
          <span class="fal fa-bars fa-2x"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mainlink mr-auto">
            <% if(!req.originalUrl.includes('/server')) { %>
            <li class="nav-item">
              <a title="Disbots" class="nav-link nvhome" href="/"><i class="fad fa-home mr-1"></i> Home</a>
            </li>
            <li class="nav-item">
              <a title="Disbots" class="nav-link" href="/bots"><i class="fad fa-robot mr-1"></i> Bots</a>
            </li>

            <% if(user) {%>
            <li class="nav-item">
                <a title="Disbots" class="nav-link" href="/addbot"><i class="fad fa-plus mr-1"></i> Add Bot</a>
            </li>
            <% } %>
            <li class="nav-item">
               <a title="Disbots" class="nav-link" href="/servers"><i class="fad fa-server mr-1"></i> Servers</a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a title="Disbots" class="nav-link nvhome" href="/servers"><i class="fad fa-home mr-1"></i> Home</a>
            </li>
            <li class="nav-item">
                <a title="Disbots" class="nav-link" href="/servers/tags"><i class="fad fa-tags mr-1"></i> Tags</a>
            </li>
            <li class="nav-item">
                <a title="Disbots" class="nav-link" href="/"><i class="fad fa-robot mr-1"></i> Bots</a>
            </li>
            <% if(user) {%>
            <li class="nav-item"> 
                <a title="Disbots" class="nav-link" href="/server/add"><i class="fad fa-plus mr-1"></i> Add Server</a>
            </li>
            <% } %>
            <% } %>
        <li class="nav-item dropdown" style="font-family: Arial, FontAwesome; z-index: 999999999; width: 100px;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fad fa-ellipsis-h"></i>&nbsp;More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" onclick="location.href='/partners'"><i class="fad fa-handshake"></i>&nbsp;Partners</a>
            <a class="dropdown-item" onclick="location.href='/team'"><i class="fad fa-users mr-1"></i>&nbsp;Team</a>
            <a class="dropdown-item" onclick="location.href='certification'"><i class="fad fa-badge-check"></i>&nbsp;Certification</a>
            <a class="dropdown-item" onclick="location.href='https://stats.uptimerobot.com/YYlMAtDpnB'"><i class="fad fa-chart-bar mr-1"></i>&nbsp;Status</a>
            <a class="dropdown-item" onclick="location.href='bugreport'"><i class="fad fa-bug mr-1"></i>&nbsp;Bug Report</a>
            <a class="dropdown-item" onclick="location.href='/codes/categories'"><i class="fad fa-code"></i>&nbsp;Code Share</a>
            <a class="dropdown-item"  onclick="location.href='/uptime/links'"><i class="fad fa-sync-alt"></i>&nbsp;Uptime</a>
            <% if(user) { %>
                <% 
                let guild = bot.guilds.cache.get(config.server.id).members.cache.get(user.id);
                if(guild) {
                if(guild.roles.cache.get(roles.administrator) || guild.roles.cache.get(roles.moderator)) {
                %>
                    <a title="Disbots" class="dropdown-item" href="/admin"><i class="fad fa-user-lock"></i> Admin Panel</a>
                <% }} %>
            <% } %>
            </div>
        </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% 
            let languages = global.config.website.languages;
            %>

            <li class="nav-item dropdown">
                  <a class="btn btn-vcodes dropdown-toggle" href="#" id="navbarDropdown" translate="no" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fad fa-language"></i>&nbsp;Language
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" style="max-width:220px!important;">
            <% languages.map(x => { %>
                <a href="#" translate="no" onclick="doGTranslate('en|<%= x.code %>')" title="DisBotlist" class="dropdown-item">
                    &nbsp;<%= x.name %>
                </a>
                <% }) %>
                </div>
                
                
              </li>
          &nbsp;
            <% if(user) {%>
              <li class="nav-item dropdown">
                  <a class="btn btn-vcodes dropdown-toggle" href="#" translate="no" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img width="24" style="border-radius:20%" src='https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png'>
                    <%=user.username%><small>#<%=user.discriminator%></small>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" style="max-width:220px!important"><a class="dropdown-item" 
                  href="/user/<%= user.id %>"><i class="fad fa-id-card" style="color:#5865f2"></i>&nbsp;Profile</a> <a class="dropdown-item" href="/addbot"><i class="fad fa-robot" style="color:#5865f2"></i>&nbsp;Add bot</a> <a class="dropdown-item" href="/server/add"><i class="fad fa-server" style="color:#5865f2"></i>&nbsp;Add server</a> <a class="dropdown-item" href="/logout"><i class="fad fa-sign-out-alt" style="color:#5865f2"></i>&nbsp;Logout</a></div>
              </li>
            <% } else { %>
            <li class="nav-item">
                <a title="DisBotlist" class="btn btn-vcodes" href="/login"><i class="fad fa-sign-in mr-1"></i> Login</a>
            </li>
	    <% } %>
          </ul>
        </div>
        </div>


      </nav>